[general]
log_level=4

[postgresql]
dsn="postgres://chirpstack_ns:chirpstack_ns@chirpstack-postgres/chirpstack_ns?sslmode=disable"

[redis]
url="redis://redis:6379"

[network_server]
net_id="000000"

  [network_server.band]
  name="EU868"

  [network_server.network_settings]
  installation_margin=10

  [[network_server.network_settings.extra_channels]]
  frequency=867100000
  min_dr=0
  max_dr=5

  [[network_server.network_settings.extra_channels]]
  frequency=867300000
  min_dr=0
  max_dr=5

  [[network_server.network_settings.extra_channels]]
  frequency=867500000
  min_dr=0
  max_dr=5

  [[network_server.network_settings.extra_channels]]
  frequency=867700000
  min_dr=0
  max_dr=5

  [[network_server.network_settings.extra_channels]]
  frequency=867900000
  min_dr=0
  max_dr=5

[network_server.gateway.backend]
type="mqtt"

  [network_server.gateway.backend.mqtt]
  server="tcp://mosquitto:1883"

[metrics]
timezone="Local"

[join_server.default]
server="http://chirpstack-app-server:8003"
